<body>
  <div class="row">
    <div class="column left-column">
      <img src="assets/logo.png" alt="Avatar" class="logo" />
    </div>
    <div class="column right-column">
      <!-- <span class="logout-text">LOGOUT</span> -->
      <button class="logout-button" (click)="Logout()">LOGOUT</button>
    </div>
  </div>
  <div id="mySidenav" class="sidenav">
    <a href="#" class="active">Dashboard</a>
    <a href="#">Services</a>
    
    <a href="#">Contact</a>
  </div>

  <div class="text-below-row">
    
    <div class="cards">
        <div class="card">
            <h2>Card 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="card">
            <h2>Card 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="card">
            <h2>Card 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
     
    </div>
  </div>


</body>
